name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  NX_CLOUD_AUTH_TOKEN: ${{ secrets.NX_CLOUD_TOKEN }}

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        name: Checkout [main]
        with:
          fetch-depth: 0
      - name: Derive SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v4

      - name: Set SHAs
        shell: bash
        run: |
          echo "BASE: ${{ env.NX_BASE }}"
          echo "HEAD: ${{ env.NX_HEAD }}"

      - uses: actions/setup-node@v1
        with:
          node-version: 24.x
      - name: Install pnpm
        run: npm i -g pnpm
      - name: Install deps
        run: pnpm i --frozen-lockfile=false
      - name: Build Projects
        run: pnpm nx affected --target=build  --base=${{ env.NX_BASE }} --head=${{ env.NX_HEAD }}
      - name: Test Projects
        run: pnpm nx affected --target=test --base=${{ env.NX_BASE }} --head=${{ env.NX_HEAD }}
  # pr:
  #   runs-on: ubuntu-latest
  #   if: ${{ github.event_name == 'pull_request' }}
  #   steps:
  #     - uses: actions/checkout@v6
  #       name: Checkout [pr]
  #       with:
  #         repository: ${{ github.event.pull_request.head.repo }}
  #         ref: ${{ github.event.pull_request.head.ref }}
  #         fetch-depth: 0
  #     - name: Derive SHAs for base and head for `nx affected` commands
  #       uses: nrwl/nx-set-shas@v4

  #     - name: Set SHAs
  #       shell: bash
  #       run: |
  #         echo "BASE: ${{ env.NX_BASE }}"
  #         echo "HEAD: ${{ env.NX_HEAD }}"

  #     - uses: actions/setup-node@v1
  #       with:
  #         node-version: 24.x
  #     - name: Install pnpm
  #       run: npm i -g pnpm
  #     - name: Install deps
  #       run: pnpm i --frozen-lockfile=false
  #     - name: Build Projects
  #       run: pnpm nx affected --target=build --parallel --max-parallel=3
  #     - name: Test Projects
  #       run: pnpm nx affected --target=test --parallel --max-parallel=2
  #    - run: pnpm nx-cloud stop-all-agents
